<div
  id="session-root"
  data-login-path="<%= session_path %>"
  data-registration-path="<%= new_registration_path %>"
  data-alert="<%= h(flash[:alert].to_s) %>"
  data-notice="<%= h(flash[:notice].to_s) %>"
  data-email-value="<%= h(params[:email].to_s) %>"
></div>



<%= vite_javascript_tag "session.jsx" %>
