<% store_value = params.dig(:user, :store_id) || @user.store_id %>

<div
  id="registration-root"
  data-registration-path="<%= registrations_path %>"
  data-session-path="<%= new_session_path %>"
  data-stores="<%= ERB::Util.json_escape(@stores.as_json(only: [:id, :name]).to_json) %>"
  data-errors="<%= ERB::Util.json_escape(@user.errors.to_hash(full_messages: true).to_json) %>"
  data-alert="<%= h(flash[:alert].to_s) %>"
  data-notice="<%= h(flash[:notice].to_s) %>"
  data-name-value="<%= h(@user.name.to_s) %>"
  data-email-value="<%= h(@user.email.to_s) %>"
  data-store-value="<%= h(store_value.to_s) %>"
></div>

<%= vite_javascript_tag "registration.jsx" %>
